<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>

    <base href="" />

    <title>DashBaord training at Tuwaiq Training Camp</title>
   @*{} /*الميتا لتحسين محركات البح */*@
    <meta charset="utf-8" />

    <meta name="description" content="علام تيتا للكيبورد في تحسين ادارة حسابك " />

    <meta name="keywords" content="تعلم برمجة المواق , كيبورد داينمك , إضافة كيبورد بشكل جديد , " />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:locale" content="en_US" />

    <meta property="og:type" content="article" />

    <meta property="og:title" content="DashBoard  at Tuwaiq Training Camp" />

    <meta property="og:url" content="https://keenthemes.com/metronic" />

    <meta property="og:site_name" content="Keenthemes | Metronic" />

    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />

    @*
    <link rel="stylesheet" type="text/css" href="~/css/custom.css">
    *@



    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/634/634394.png?w=740&t=st=1691009018~exp=1691009618~hmac=37c2afc6d1411a956f80ab79897617cc926d1dbf5748a08ec14df8377911311d" />

    <!--begin:<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />:Fonts-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->

    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Stylesheets Bundle-->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <!--begin:Menu link-->

        <a href="../../demo1/dist/index.html" class="menu-link active">

            <span class="menu-custom-icon d-flex flex-center flex-shrink-0 rounded w-40px h-40px me-3">

                <!--begin::Svg Icon | path: icons/duotune/general/gen025.svg-->

                <span class="svg-icon svg-icon-primary svg-icon-1">

                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">

                        <rect x="2" y="2" width="9" height="9" rx="2" fill="currentColor" />

                        <rect opacity="0.3" x="13" y="2" width="9" height="9" rx="2" fill="currentColor" />

                        <rect opacity="0.3" x="13" y="13" width="9" height="9" rx="2" fill="currentColor" />

                        <rect opacity="0.3" x="2" y="13" width="9" height="9" rx="2" fill="currentColor" />

                    </svg>

                </span>

                <!--end::Svg Icon-->



        </a>

        <!--end:Menu link-->
        </div>

        <!--end:Menu item-->
        </div>

        <!--end:Col-->
        <!--begin:Col-->
        <!--begin:Col-->
        </div>

        <!--end:Row-->

        <div class="separator separator-dashed mx-5 my-5"></div>

        <!--begin:Landing-->
        <!--end:Landing-->
        </div>

        <!--end:Col-->
        <!--begin:Col-->
        <!--end:Col-->
        </div>

        <!--end:Row-->
        </div>

        <!--end:Dashboards menu-->
        </div>

        <!--end:Menu sub-->
        </div>

        <!--end:Menu item-->
        <!--begin:Menu item-->
        <!--end:Menu item-->
        </div>

        <!--end::Menu-->
        </div>

        <!--end::Menu wrapper-->
        <!--begin::Navbar-->
        <!--end::Navbar-->
        </div>

        <!--end::Header wrapper-->
        </div>

        <!--end::Header container-->
        </div>



    </header>

    @* //من خلال الريندير تشغل صفحات الفيو*@
    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">

        <div class="container">

            &copy; 2023 - Dahboard - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>

        </div>

    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts",required:false)
</body>
</html>
