<!DOCTYPE html>
<html lang="ar" dir="ltr">
<head>

    <base href="" />

    <title>DashBaord training at Tuwaiq Training Camp</title>
    @*{} /*الميتا لتحسين محركات البح */*@
    <meta charset="utf-8" />

    <meta name="description" content="علام تيتا للكيبورد في تحسين ادارة حسابك " />

    <meta name="keywords" content="تعلم برمجة المواق , كيبورد داينمك , إضافة كيبورد بشكل جديد , " />

    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:locale" content="en_US" />

    <meta property="og:type" content="article" />

    <meta property="og:title" content="DashBoard  at Tuwaiq Training Camp" />

    <meta property="og:url" content="https://keenthemes.com/metronic" />

    <meta property="og:site_name" content="Keenthemes | Metronic" />

    <link rel="canonical" href="https://preview.keenthemes.com/metronic8" />

    @*
    <link rel="stylesheet" type="text/css" href="~/css/custom.css">
    *@



    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/634/634394.png?w=740&t=st=1691009018~exp=1691009618~hmac=37c2afc6d1411a956f80ab79897617cc926d1dbf5748a08ec14df8377911311d" />

    <!--begin:<link rel="shortcut icon" href="assets/media/logos/favicon.ico" />:Fonts-->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300,400,500,600,700" />

    <!--end::Fonts-->
    <!--begin::Global Stylesheets Bundle(used by all pages)-->

    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />

    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />

    <!--end::Global Stylesheets Bundle-->

    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap" rel="stylesheet">

</head>
<body>
    <div>
        @RenderBody()
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts",required:false)

</body>
</html>
